@model IEnumerable<PrzedszkoleData.Data.CMS.HarmonogramDzienny>


<div class="tab-pane active show" id="tab-1" style="margin-top:50px">
    <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Harmonogram zajęć w naszym przedszkolu: </h3>
            @*            <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            </p>*@
            <ul>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li><i class="ri-check-double-line"></i>@Model.ElementAt(i).GodzinaRozpoczecia<i> : </i>@Model.ElementAt(i).GodzinaZakonczenia<i> </i>@Model.ElementAt(i).Opis</li>
                }



            </ul>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="~/assets/img/features-1.png" alt="" class="img-fluid">
        </div>
    </div>
</div>