@{
    ViewData["Title"] = "Dziecko";
}

<div class="row">

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Dziecko" asp-action="Index">Dziecko</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Obecnosc" asp-action="Index">Obecnosc</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="ObecnoscDziecka" asp-action="Index">Obecnosc dziecka</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="DzieckoZajeciaDodatkowe" asp-action="Index">Zajęcia dodatkowe - Dziecko</a>
        </div>
    </div>
        <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Dziecko" asp-action="Lista">22222</a>
        </div>
    </div>
        </div>
        <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
        <a class="btn btn-primary" asp-area="" asp-controller="DzieckoZajeciaDodatkowe" asp-action="ListaDzieci">5555</a>
        </div>
    </div>
</div>

