@{
    ViewData["Title"] = "Ogolne";
}

<div class="row">

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GodzinyOtwarcia" asp-action="Index">Godziny otwarcia</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Informacje" asp-action="Index">Informacje</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="HarmonogramDziennie" asp-action="Index">Plan Dnia</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Personel" asp-action="Index">Personel</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="ONas" asp-action="Index">O Nas</a>
        </div>
    </div>
    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Grupa" asp-action="Index">Grupy</a>
        </div>
    </div>
</div>

