@model IEnumerable<PrzedszkoleData.Data.CMS.Stopka>

@foreach (var item in Model)
{
    <div class="copyright">
        &copy; Copyright <strong><span>@item.Tytul</span></strong>. All Rights Reserved
    </div>

}
