@model EditUserViewModel

<h2>Edit User</h2>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="Kraj"></label>
        <input asp-for="Kraj" class="form-control" />
        <span asp-validation-for="Kraj" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Wojewodztwo"></label>
        <input asp-for="Wojewodztwo" class="form-control" />
        <span asp-validation-for="Wojewodztwo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Miasto"></label>
        <input asp-for="Miasto" class="form-control" />
        <span asp-validation-for="Miasto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KodPocztowy"></label>
        <input asp-for="KodPocztowy" class="form-control" />
        <span asp-validation-for="KodPocztowy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ulica"></label>
        <input asp-for="Ulica" class="form-control" />
        <span asp-validation-for="Ulica" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumerDomu"></label>
        <input asp-for="NumerDomu" class="form-control" />
        <span asp-validation-for="NumerDomu" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>